<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Context docBase="/Users/adityadaharwal/Developer/TEST_PROJECT/src/week6/day5/JSP3/src/main/static">
  <Resources cacheMaxSize="10240">
    <PreResources base="/Users/adityadaharwal/Developer/TEST_PROJECT/src/week6/day5/JSP3/target/classes" className="org.apache.catalina.webresources.DirResourceSet" webAppMount="/WEB-INF/classes"/>
    <PostResources base="/Users/adityadaharwal/.m2/repository/org/postgresql/postgresql/42.7.4/postgresql-42.7.4.jar" className="org.apache.catalina.webresources.FileResourceSet" webAppMount="/WEB-INF/lib/postgresql-42.7.4.jar"/>
    <PostResources base="/Users/adityadaharwal/.m2/repository/org/checkerframework/checker-qual/3.42.0/checker-qual-3.42.0.jar" className="org.apache.catalina.webresources.FileResourceSet" webAppMount="/WEB-INF/lib/checker-qual-3.42.0.jar"/>
  </Resources>
</Context>
